# #impedir lista de directorio


 Options All -Indexes
 Options -MultiViews

# #URL amigables

 RewriteEngine On


<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Headers "Authorization, Content-Type"
</IfModule>

# # # Si el archivo o directorio solicitado existe, no lo reescribas
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d

# #usaremos la expresion regular como una regla que captura todo lo que venga despues de la palabra clave enlaceBack

 RewriteRule ^([a-zA-Z0-9/]+)$ index.php?enlace=$1 [QSA,L]

 RewriteRule ^api/pedidos/buscar/([0-9]+)$ api/pedidos/buscar.php?numero_orden=$1 [L,QSA]

